@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h3>Naam</h3>
    <p>Geartype:</p>
    <p>Tier:</p>
    <p>Element:</p>
    <p>"Rank"</p>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Attack</th>
                    <th>Health</th>
                    <th>Speed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" />
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                    <td>
                        <input type="text" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>BaseTotal*</th>
                    <th>Upgrade 1*</th>
                    <th>Upgrade 2</th>
                    <th>Upgrade 3</th>
                    <th>Upgrade 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Bonussen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bonus Uitleg</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>