@{
    ViewData["Title"] = "All Gear";
}

<h1>All Gear</h1>

<div class="container">
    <form>
        <div class="row">
            <div class="col">
                <input type="text" placeholder="Zoeken"/>
            </div>
            <div class="col">
                <select class="custom-select">

                </select>
            </div>
            <div class="col">
                <select class="custom-select">

                </select>
            </div>
            <div class="col">
                <select class="custom-select">

                </select>
            </div>
        </div>
        <div class="row">
            <button type="submit">Zoeken</button>
        </div>
    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Rank</th>
                <th>Tier</th>
                <th>Geartype</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>naam</td>
                <td>rank</td>
                <td>2</td>
                <td>Geartype</td>
            </tr>
            <tr>
                <td>naam</td>
                <td>rank</td>
                <td>3</td>
                <td>Geartype</td>
            </tr>
            <tr>
                <td>naam</td>
                <td>rank</td>
                <td>4</td>
                <td>Geartype</td>
            </tr>
            <tr>
                <td>naam</td>
                <td>rank</td>
                <td>5</td>
                <td>Geartype</td>
            </tr>
        </tbody>
    </table>
</div>