@{
    ViewData["Title"] = "Welkom";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Op deze website vindt u informatie over verschillende vormen van uitrusting die te verkrijgen zijn in 
    het spel Bit heroes</p>
</div>
