@{
    ViewData["Title"] = "Information";
}

<h1>Informatie</h1>

<div>
    <p>Met deze website is het mogelijk om te zoeken naar verschillende voorwerpen binnen het spel Bit Heroes.
    Je kunt zelfs naar iets specifiek zoeken moest je weten van welke tier of rank een voorwerp is. Wil je
    een voorwerp kunnen toevoegen zul je je moeten registreren en aanmelden</p>
</div>